{% extends "layout.html" %}
{% block content %}
    {% for snack in favSnacks %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ snack.snack }}</a>
              <small class="text-muted">{{ snack.calories }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ snack['snack'] }}</a></h2>
            <p class="article-content">{{ snack['calories'] }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}