{% extends "layout.html" %} {% block content %} {% for row in joined_m_n %}
<article class="media content-section">
  <div class="media-body">
    <h2>
      <a
        class="article-title"
        href="{{ url_for('assign', essn=row.essn, pno=row.pno) }}"
        >{{ row.pname }}: {{ row.fname }} {{ row.lname }}</a
      >
    </h2>
    <small class="text-muted"
      >SSN: {{row.ssn}}, Project Number: {{ row.pnumber }}</small
    >
  </div>
</article>
{% endfor %} {% endblock content %}
